input {
font-size: 20px;
font-weight: 400;
}
input.number-input {
width: 100%;
height: 55px;
line-height: 55px;
text-align: center;
background-color: #222;
color: #fff;
padding: 0 20px;
border-radius: 10px;
border: 2px solid #00ff43;
}

.numpad-custom-session {
position: absolute;
width: 100%;
height: 100%;
}

.numpad-custom-session.unactive-numeric-pad {
display: none;
}

.shadow {
position: absolute;
background-color: #000;
width: 100%;
height: 100%;
opacity: 0.6;
}
.numpad-custom-session .numpad {
width: 350px;
z-index: 10;
margin: 140px auto 0 auto;
position: relative;
}
.numpad-custom-session .numpad span.title {
font-weight: 700;
letter-spacing: 2px;
display: block;
text-align: center;
}
.numpad-custom-session .numpad .numpad-container {
width: 100%;
margin-top: 30px;
}
.numpad-custom-session .numpad .numpad-container .keyboard {
width: 90%;
margin-left: 5%;
margin-top: 40px;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number {
    width: 100%;
    font-size: 0;
    text-align: center;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number.aling-right {
    display: flex;
    text-align: right;
    width: 100%;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number span {
display: inline-block;
width: 33%;
text-align: center;
margin-bottom: 25px;
}

.numpad-custom-session .numpad .numpad-container .keyboard .number span.call-button img {
display: inline-block;
vertical-align: middle;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number span i {
display: inline-block;
width: 75px;
height: 75px;
line-height: 75px;
border-radius: 5px;
transition: 0.5s;
color:#888;
background-color: #1b1b1b;
border: #777 solid 2px;
font-weight:700;
font-size: 36px;
letter-spacing:1px;
text-transform:uppercase;
}

.numpad-custom-session .numpad .numpad-container .keyboard .number .confirm-session-button i svg{
    height: 100%;
    width: 100%;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number .confirm-session-button i svg path{
    height: 100%;
    width: 100%;
    stroke: #777;
    transition: stroke 0.5s;
}
.numpad-custom-session .numpad .numpad-container .keyboard .number .confirm-session-button i svg:hover path{
    stroke: #fff;
}

.numpad-custom-session .numpad .numpad-container .keyboard .number span i:hover {
color:#fff;
border: 2px #00ff43 solid;
}

.numpad-custom-session .numpad .numpad-container .keyboard .number span i.delete img {
display: inline-block;
vertical-align: middle;
}
