
* {
  margin: 0;
  padding: 0;
}

body {
  width: 1024px;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 1024px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background:#222;
  justify-content: center;
  align-items: center;
}



.btn {
  position:relative;
  width: 150px;
  height: 50px;
  color:#777;
  background-color: #1b1b1b;
  border: #777 solid 2px;
  border-radius: 5px;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.btn .text {
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;

}
.btn:hover {
  color:#fff;
  border: 2px #00ff43 solid;
}

.top-left {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  /* justify-content: center;
  align-items: center; */

}
.left-btn {
  top: 10px;
  left: 10px;
  margin-left: 0;
  margin-top: 0;
  align-items: left;
}

.bottom-left-btn {
  top: -30%;
}

.top-right {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.right-btn {
  width: 50px;
  height: 50px;
  top: 10px;
  left: -10px;
  margin-left: 0;
  margin-top: 0;
  justify-self: right;
}
.bottom-right-btn {
  top: -30%;
}

.center {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}
.center .center-btn {
  justify-self: center;
  align-self: center;
}

.close-page-btn {
  position: absolute;
  margin: 0px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.info-message {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: end;
}
.info-message p {
  position:relative;
  margin: 20px;
  font-size: 24px;
}

.help-display {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: sans-serif;
  width: 1024px;
  height: 600px;
  font-size: 18px;
  line-height: 24px;
  background:#222;
  text-align: center;
  color: #ffffffdd;
  display: none;
}
.help-display .help-title {
  grid-area: 1/2 / 2/2;
  justify-content: center;
  text-align: center;
  margin: 30px;
  margin-top: 150px;
}

.help-display .help-message {
  position: relative;
  grid-area: 2/1 / 4/4;
  justify-content: left;
  text-align: left;
  border-top: 1px #00ff43 solid;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.help-display .help-message p {
  margin-right: 150px;
  margin-left: 150px;
}

.help-display .close-help-display {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
}

.help-display.active {
  display: grid;
  position: absolute;
  /* display: block; */
}

.messages:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/* .messages {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  z-index: 1;
}

.message {
  /* position: absolute; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  z-index: 2;
} */ 

.message .close {
  /* position: absolute; */
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: pointer;
}